/*-------ESTRUTURA BASE
/* ESTILOS GERAIS
/**** BODY
/**** HEADER
/**** FOOTER
/**** PAGINA INICIAL
/**** EXTRAS
/**** @MEDIA
font-family: 'Open Sans', sans-serif;

/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  h1, h2, h3, p, a{
    color: white
    ;
  }
  hr {
    margin: 15px;
  }
/* BODY */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-image: url(/assets/img/pexels-francesco-ungaro-998641.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
  }
/* HEADER */
.navegacao ul {
    margin: 0 30px 30px 30px;
    text-align: center;
    display: inline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navegacao ul li {
    margin: 15px;
  }
/* MAIN */
.meio {
    height: 1300px;
}
/* FOOTER */
/* EXTRAS */
/* @MEDIA */
/* @MEDIA ++ */