/*-------ESTRUTURA BASE
/* ESTILOS GERAIS
/**** BODY
/**** HEADER
/**** FOOTER
/**** PAGINA INICIAL
/**** EXTRAS
/**** @MEDIA
font-family: 'Open Sans', sans-serif;

/* ESTILOS GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
h1, h2, h3, p, a{
  color: white
  ;
}
hr {
  margin: 15px;
}


/* BODY */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-image: url(/assets/img/pexels-francesco-ungaro-998641.jpg);
  background-size: 100%;
  background-attachment: fixed;
  text-align: center;
}

/* HEADER */
.dados {
  background-color: black;
  margin-bottom: 20px;;
  padding: 10px;
  height: 200px;
}
.dados h1 {
  font-size: 29.5px;
  margin: 10px;
}
.dados p {
  font-size: 15px;
}
.navegacao {
  display: inline-block;
}
.navegacao div ul{
  margin: 0 auto auto auto;
  text-align: center;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
}
.navegacao ul li a{
  transition: 0.29s;
}
.navegacao a:hover {
  font-weight: bold;
  font-size: 20px;
}
.navegacao ul li {
  margin: 15px;
}
.apresentacao {
  margin: 100px 20px;
}
.apresentacao h1 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 300 bold;
}
.apresentacao h2 {
  font-size: 17px;
}
.apresentacao p {
  margin: 20px;;
  font-weight: 300;
}
/* MAIN */
section {
  padding: 10px 0;
}
.meusProdutos {
  margin: 20px;
  border-radius: 10px;;
  padding: 15px;
  display: inline-block;
  background-color: rgb(27, 27, 27);
  transition: 0.4s all;
}
.meusProdutos:hover {
  background-color: rgb(46, 46, 46);
  transform:scale(1.2);
  font-weight: bold;
}
   /* EXEMPLOS DE TRABALHO */
.exemplosDeTrabalho {
  background-color: black;
  padding: 20px 0 20px 0;
}
.exemplosDeTrabalho h1 {
  margin: 10px;
}
.exemplosDeTrabalho p {
  margin: 10px;
}
.exemplos {
  margin: 60px 0;
}
.exemplosDeTrabalho img {
  width: 300px;
  margin: 10px;
  transition: 0.7s all;
}
.exemplosDeTrabalho h2 {
  margin: 10px;
  font-weight: 100;
  font-size: 25px;
}
.exemplos figure h2 {
  margin-bottom: 30px;
}
.exemplos figure {
  margin-top: 60px;
}
#imagem-kunst:hover {
  font-size: 15px;
  transform:scale(1.3);
}
#imagem-coast:hover {
  font-size: 15px;
  transform:scale(1.3);
}
#imagem-agrados:hover {
  transform:scale(1.3);
}

  /* MEUS SERVIÇOS */
.meusServicos p {
padding: 15px;
}
.meusServicos h1 {
  font-size: 37px;
  margin: 20px;
}
.meusServicos p {
  font-weight: 100;
}
.logos {
  margin-top: 50px;
  margin-bottom: 75px;
}
.meusServicos .logos h2 {
  margin: 10px 0 15px 0;
}
.meusServicos img {
  padding: 0 -15px;
}
.meusServicos .sites h2 {
  font-size: 22px;
  margin: 10px 0 15px 0;
}
/* FOOTER */
footer {
  background-color: black;
}
footer section {
  padding: 15px;
}
footer h1 {
  margin: 20px;
}
footer h3 {
  margin: 15px;
}
footer .contatos {
  display: inline-block;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
footer a {
  margin: 10px;
  display: inline-block;
  transition: 0.7s all;
}
.redesSociais a:hover {
  transform:scale(1.3);
}
/* EXTRAS */

/* @MEDIA */
@media only screen and (min-width: 768px) {
  /*HEADER*/
  header section {
    padding: 0;
  }
  .dados h1{
    font-size: 50px;
    font-weight: 100;
  }
  .apresentacao {
    height: 600px;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .textos-apresentacao {
    margin: auto auto;
  }

  .apresentacao h1 {
    font-size: 55px;
    margin: 100px 0;
  }
  .apresentacao span {
    font-size: 48px;
  }
  .apresentacao h2 {
    font-weight: 300;
    font-size: 20px;
    margin: 30px;
  }
  .apresentacao div {
    margin: auto;
    width: 600px;
  }
  .apresentacao p {
    margin: auto;
    max-width: 100%;
    font-size: 20px;
    font-weight: 100;
  }
  /*MAIN*/
  main section {
    padding: 0;
  }
  .exemplosDeTrabalho h1 {
    font-size: 50px;
  }
  .exemplosDeTrabalho p {
    font-size: 20px;
  }
  .exemplos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .exemplos figure {
    margin: 15px;
  }
  .exemplos img {
    margin: 10px 0;
  }
  .exemplos h2 {
    margin: 10px 0;
  }
  .coast img {
    margin-top: 30px;
  }
  /* MEUS SERVIÇOS */
  .descricao-servicos p {
    font-size: 20px;
    max-width: 60%;
    margin: auto auto 15px auto;
  }
  .figuras {
    margin-bottom: 0;
    background-color: black;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
  }
  .figuras figure {
    max-width: 50%;
    margin: 0;
  }
  .figuras img {
    width: 400px;
    height: 250px;
  }
  .figuras p {
    height: 200px;
  }
}
/* @MEDIA ++ */